<!DOCTYPE html>
<html lang="en">

<head>
</head>
    <body>
        <style>
        body {
            background-image: url('static/img/apiii.jpg');
            background-size: cover;
            margin: 0;
            padding: 0;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-3" style="background-color: #48A3A7; padding: 20px;">
                <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
                    <div>
                        <h4 class="bold-label text-white">Vertical Div</h4>
                        <!-- Add your content for the vertical div here -->
                    </div>
                </div>
            </div>
    
            <!-- Right Column -->
            <div class="col-md-9">
                <!-- Content for the right column goes here -->
            </div>
        </div>
    </div>
    
    <div class="card fat text-center" style="background-color: #48A3A7; padding: 50px;">
        <h4 class="bold-label text-white" style="margin: 0;">DASHBORDS</h4>
    </div>
    
        <div class="report">
            <iframe title="PFE-VIS" width="1400" height="600" src="https://app.powerbi.com/reportEmbed?reportId=ebecad23-feea-47d7-8c83-704c1325e47c&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>        </iframe>
    </div
    </body>
